body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.post {
    background: white;
    padding: 15px;
    margin-bottom : 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0, 1);
}